body {
    display: flex;
    justify-content: center;
    background: whitesmoke;
    box-shadow: rgb(51, 51, 51) 5px 0px 15px, rgb(51, 51, 51) -5px 0px 15px;
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;

}

p {
    font-size: 1.25em;
}

.header {
    width: inherit;
    height: 10%;
    text-align: center;
}

#IB{
    padding-bottom: 1em;
}
/* Styles for TopNav
*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #86c5da;
    height: 5%;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

    /* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: white;
    width: 15%;
    justify-content: center;
    align-content:center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

        /* Change the color of links on hover */
.topnav a:hover {
    background-color: blue;
    color: white;
}

.column {
}

#left {
    float: left;
    width: 49.5%;
}

#right {
    float: right;
    width: 49.5%;
    justify-content: right;
}

footer {
    text-align: center;
    background-color: #86c5da;
    color: white;
}

